body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000000, #064e3b);
}

.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 320px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.note {
  text-align: center;
  font-size: 12px;
  color: gray;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.playBtn {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
}

.menu {
  position: absolute;
  right: 0;
  top: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 140px;
}

.menuItem {
  padding: 8px;
  cursor: pointer;
  display: flex;
  gap: 6px;
}

.menuItem:hover {
  background: #eee;
}

.menuTitle {
  padding: 6px;
  font-size: 12px;
  color: gray;
}
.album {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
